.button {
  margin: 0;
  cursor: pointer;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr 46px;
  gap: 20px;
  padding: 3px;
  padding-left: 19px;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-transparent;

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-cerulean-blue;
  }

  &:disabled,
  &--disabled {
    border-color: $color-mischka;
    pointer-events: none;
  }

  @include vp-768 {
    gap: 16px;
    padding-left: 19px;
    grid-template-columns: 1fr 34px;
  }
}

.button__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-cerulean-blue;
  align-self: center;
  justify-self: start;

  @include vp-768 {
    font-size: 12px;
    line-height: 12px;
  }
}

.button__wrapper {
  width: 46px;
  height: 46px;
  border-radius: 44px;
  background-color: $color-cerulean-blue;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  @include vp-768 {
    width: 34px;
    height: 34px;
  }
}

.button:hover .button__description,
.button:focus .button__description {
  color: $color-default-white;
}

.button:active .button__description {
  color: $color-default-white;
  opacity: 0.7;
}

.button:hover .button__wrapper,
.button:focus .button__wrapper {
  background-color: $color-default-white;
  color: $color-cerulean-blue;
}

.button:active .button__wrapper {
  background-color: $color-default-white;
  color: $color-cerulean-blue-70;
}

.button:hover svg,
.button:focus svg {
  transform: rotate(45deg);
}

.button:disabled .button__description,
.button--disabled .button__description {
  color: $color-mischka;
}

.button:disabled .button__wrapper,
.button--disabled .button__wrapper {
  background-color: $color-mischka;
}
