.slider-nav {
  display: flex;
  gap: 10px;
  max-width: 54px;

  @include vp-768 {
    gap: 8px;
    margin-left: auto;
  }
}

.slider-nav__button {
  color: $color-cerulean-blue;
  width: 22px;
  height: 22px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border-radius: 30px;
  }

  &:active {
    background-color: $color-default-white;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
  }
}

.slider-nav__button:hover svg,
.slider-nav__button:focus svg {
  color: $color-cerulean-blue;
}

.slider-nav__button:active svg {
  color: $color-cerulean-blue-70;
}

.slider-nav__button--disabled svg,
.slider-nav__button:disabled svg {
  color: $color-mischka;
}

.slider-nav__button--prev svg {
  transform: rotate(225deg);
}

.slider-nav__button--next svg {
  transform: rotate(45deg);
}
