.social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-width: 148px;
  align-items: center;

  @include vp-1440 {
    grid-column: 2 / -1;
    min-width: 128px;
  }
}

.social__link {
  display: block;
  max-height: 36px;
}
